/* NEWSLETTER */
.background{
    background-color: #D9D9D9;
}
.contactmargin{
    margin-top: 0;
}
.contactmargin a:hover{
    box-shadow: inset 0px 2px 5px black;
    background-color: #FF6165;
}
.contactmargin img{
    transform: scaleX(-1) rotate(30deg);
    margin-bottom: 68px;
    min-width: 400px;
    max-width: 450px;
}
.divmargin{
    margin-right: -17vw;
}
/* FOOTER */
footer{
    height: auto;
    background-color: #FF6165;
}
footer a{
    text-decoration: none;
    color: white;
}
footer a:hover{
    color:black;
}
.traitblanc{
    width: 35%;
    height: 3px;
    background-color: white;
}