<header>
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand logo" routerLink="accueil">NFT<span>SNKRS</span></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ms-auto gap-3">
          <a class="nav-link p-3" aria-current="page" routerLink="collection">Collections</a>
          <a class="nav-link p-3" href="#unnft?">Un NFT ?</a>
          <!-- Button trigger modal -->
          <button *ngIf="!isLoggedIn" type="button" class="btn btn1 nav-link h-75 my-auto text-white" data-bs-toggle="modal" data-bs-target="#exampleModal">Se connecter
          </button>
          <a *ngIf="!isLoggedIn" class="nav-link p-3" aria-current="page" routerLink="register">S'enregistrer</a>
          <button *ngIf="isLoggedIn" type="button" class="btn btn1 nav-link h-75 my-auto text-white" (click)="logout()">Se déconnecter
          </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
            <form class="modal-content" (ngSubmit)="onSubmit()">
                <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Se connecter</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <p class="alert alert-danger" *ngIf="error">{{error}}</p>
                    <div class="form-floating mb-3">
                      <input type="text" class="form-control" id="floatingInput" name="email" [(ngModel)]="email">
                      <label for="floatingInput">Username</label>
                      </div>
                      <div class="form-floating">
                        <input type="password" class="form-control" id="floatingPassword" name="password" [(ngModel)]="password">
                        <label for="floatingPassword">Password</label>
                      </div>
                </div>
                <div class="modal-footer m-auto">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn1">Se connecter</button>
                </div>
                <a class="nav-link p-3 text-center" aria-current="page" routerLink="register" data-bs-dismiss="modal">S'enregistrer</a>
              </form>
            </div>
        </div>
        </div>
      </div>
    </div>
  </nav>
</header>