<h1 class="text-center">Interface Administrateur</h1>
<section *ngIf="users" class="mt-5">
    <h2 class="text-center">Users</h2>
    <table class="table w-75 m-auto table-bordered">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Email</th>
            <th scope="col">Prénom</th>
            <th scope="col">Nom</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users; let i=index">
            <td>{{user.id}}</td>
            <td>{{user.email}}</td>
            <td>{{user.firstname}}</td>
            <td>{{user.lastname}}</td>
            <td class="d-flex gap-2"> 
              <button type="button" class="btn btn2 nav-link h-75 my-auto text-white p-4" data-bs-toggle="modal" [attr.data-bs-target]="'#editModal' + user.id">Modifier</button>
              <button (click)="deleteUser(user.id)" class="btn btn1 nav-link h-75 my-auto text-white p-4">Supprimer</button>
            <!-- Modal -->
        <div class="modal fade" [id]="'editModal' + user.id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
          <form class="modal-content" (ngSubmit)="onEditUser(user.Adress.id, user.id)">
              <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Modifier User {{user.pseudo}}</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="floatingPseudo" placeholder="pseudo" name="pseudo" [(ngModel)]="user.pseudo" required>
                  <label for="floatingPseudo">Pseudo</label>
              </div>
              <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="floatingEmail" placeholder="name@example.com" name="email" [(ngModel)]="user.email" required>
                  <label for="floatingEmail">Email</label>
              </div>
              <div class="form-floating">
                  <select required class="form-select" id="floatingSelect" aria-label="Floating label select example" name="gender" [(ngModel)]="user.gender">
                    <option value="homme">homme</option>
                    <option value="femme">femme</option>
                    <option value="autre">autre</option>
                  </select>
                  <label for="floatingSelect">Genre</label>
              </div>
              <div class="form-floating">
                  <input type="text" class="form-control" id="floatingLastname" placeholder="Lastname" name="lastname" [(ngModel)]="user.lastname" required>
                  <label for="floatingLastname">lastname</label>
              </div>
              <div class="form-floating">
                  <input type="text" class="form-control" id="floatingFirstname" placeholder="Firstname" name="firstname" [(ngModel)]="user.firstname" required>
                  <label for="floatingFirstname">Firstname</label>
              </div>
              <div class="form-floating">
                  <input type="date" class="form-control" id="floatingBirthDate" placeholder="Date de naissance" name="birthDate" [(ngModel)]="user.birthDate" required>
                  <label for="floatingBirthDate">Date de naissance</label>
              </div>
              <p class="fs-4">Adresse</p>
              <div class="form-floating">
                  <input type="text" class="form-control" id="floatingStreet" placeholder="Adresse" name="street" [(ngModel)]="user.Adress.street" required>
                  <label for="floatingStreet">Adresse</label>
              </div>
              <div class="form-floating">
                  <input pattern="[0-9]{6}" type="text" class="form-control" id="floatingCodePostal" placeholder="Code Postal" name="code_postal" [(ngModel)]="user.Adress.code_postal" required>
                  <label for="floatingCodePostal">Code Postal</label>
              </div>
              <div class="form-floating">
                  <input type="text" class="form-control" id="floatingCity" placeholder="Ville" name="city" [(ngModel)]="user.Adress.city" required>
                  <label for="floatingCity">Ville</label>
              </div>
              </div>
              <div class="modal-footer m-auto">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn1">Modifier</button>
              </div>
              <a class="nav-link p-3 text-center" aria-current="page" routerLink="register" data-bs-dismiss="modal">S'enregistrer</a>
            </form>
          </div>
      </div>
    </td>
          </tr>
        </tbody>
      </table>
</section>
<section *ngIf="nfts" class="mt-5">
  <h2 class="text-center">Nft</h2>
  <table class="table w-75 m-auto table-bordered">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Name</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let nft of nfts; let i=index">
          <td>{{nft.id}}</td>
          <td>{{nft.name}}</td>
          <td class="d-flex gap-2">
            <button type="button" class="btn btn2 nav-link h-75 my-auto text-white p-4" data-bs-toggle="modal" [attr.data-bs-target]="'#editNftModal' + nft.id">Modifier</button>
            <button (click)="deleteNft(nft.id)" class="btn btn1 nav-link h-75 my-auto text-white p-4">Supprimer</button>
              <!-- Modal -->
        <div class="modal fade" [id]="'editNftModal' + nft.id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
          <form class="modal-content" (ngSubmit)="onEditNft(nft.id, nft.Category.id, nft.img)">
              <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Modifier Nft {{nft.name}}</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="floatingName" placeholder="name" name="Nom" [(ngModel)]="nft.name" required>
                  <label for="floatingName">Name</label>
                </div>
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="floatingDescription" placeholder="Description" name="Description" [(ngModel)]="nft.description" required>
                  <label for="floatingDescription">Description</label>
                </div>
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="floatingStock" placeholder="Stock" name="Stock" [(ngModel)]="nft.stock" required>
                  <label for="floatingStock">Stock</label>
                </div>
              </div>
              <div class="modal-footer m-auto">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn1">Modifier</button>
              </div>
              <a class="nav-link p-3 text-center" aria-current="page" routerLink="register" data-bs-dismiss="modal">S'enregistrer</a>
            </form>
          </div>
      </div>
          </td>
        </tr>
      </tbody>
    </table>
</section>

