<!-- SECTION 1 NFT -->
<section class="container mt-5" *ngIf="nft">
    <div class="row g-5 p-4 row-cols-1 row-cols-lg-2">
        <div  class="col text-center text-lg-end">
            <img class="img-fluid border2" [src]="'../../../assets/img/' + nft.img" alt="nft.name">
        </div>
        <div class="col d-flex flex-column ps-5 ps-lg-2 pe-lg-5">
        <!-- H2 et COEUR -->
        <div class="d-flex justify-content-between pe-lg-3">
            <h2>NIKE</h2>
            <svg xmlns="http://www.w3.org/2000/svg" width="28" fill="currentColor" class="bi bi-heart me-5" viewBox="0 0 16 16">
            <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
            </svg>
        </div>
        <!-- H3 -->
        <h3 class="m-0 mb-3">{{nft.name}}</h3>
        <!-- TEXTE DESCRIPTION NFT -->
        <p class="pe-5">{{nft.description}}</p>
        <!-- PRIX -->
        <span class="fs-3 mb-3">{{nft.nftPrice.price_eth_value}}<img width="55px" src="../../../assets/img/ethereum.png" alt="ethereum"></span>
        <!-- QUANTITÉ -->
        <span class="bleu fw-bold mb-2">Quantité: {{nft.stock}}</span>
        <!-- BOUTON ACHETER OU FAIRE UNE OFFRE -->
        <div class="d-flex gap-4 mb-5 mx-auto mx-lg-0">
            <button (click)="addNftToUser()" type="button" class="btn btn1 nav-link my-auto text-white p-2">Ajouter
            </button>
        </div>
        </div>
    </div>
</section>
<app-courbe-eth></app-courbe-eth>
